html, body {
  min-height: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  font-family: Lato, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.app-placeholder {
  display: none;
  position: relative;
  background: transparent;
  z-index: 15;
}

.notification {
  position: fixed;
  left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
  display: inline-block;
  background: #FAFAFA;
  color: #171717;
  font-size: 25pt;
  font-weight: 700;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px -12px;
  padding: .5%;
  min-width: 60%;
  -webkit-animation: fadein 1s linear forwards;
  animation: fadein 1s linear forwards;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.notification table {
  width: 90%;
}

.notification img {
  width: 40px;
  padding-left: 30px;
}

.notification td {
  border: 5px transparent;
}

.notification button {
  border: inherit;
  outline: inherit;
  color: gray;
  background: none;
  text-decoration: none;
  font-size: 25pt;
  font-weight: normal;
  transform: none;
  padding: 0;
  font-family: inherit;
  position: absolute;
  right: 20px;
  top: 5px;
}

#app-box {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  top: 0;
}

/* register header */
.register-header {
  min-height: 33%;
  min-width: 100%;
  background: radial-gradient(circle 62vh at 50% -35%, #3B72FF 70%, transparent 70%);
  position: absolute;
}

.register-header-oval {
  min-height: 60%;
  min-width: 100%;
  background: radial-gradient(circle 16vh at 85% 40%, black 70%, transparent 70%);
  position: absolute;
  opacity: .1;
}

.register-header-text {
  color: white;
  top: 22%;
  left: 7%;
  position: absolute;
}

.register-header-text h1 {
  font-size: 80pt;
  margin: 5px;
}

.register-header-text p {
  font-size: 19pt;
  text-align: center;
  margin: 0px;
}

#register-header-icon {
  height: 80%;
  right: 2%;
  position: absolute;
}

/* app header */
.app-header {
  min-height: 32%;
  min-width: 100%;
  background: radial-gradient(circle 62vh at 50% -52%, #3B72FF 70%, white 70%);
  position: fixed;
  z-index: 10;
}

.app-header-oval {
  min-height: 60%;
  min-width: 100%;
  background: radial-gradient(circle 13vh at 87% 35%, black 70%, transparent 70%);
  position: absolute;
  opacity: .1;
}

.app-header-text-left {
  color: white;
  top: 15%;
  left: 10%;
  position: absolute;
}

.app-header-text-left h1 {
  font-size: 50pt;
  font-weight: bold;
  margin: 0px;
}

.app-header-text-left p {
  font-size: 25pt;
  margin: 0px;
  margin-left: 3px;
}

.app-header-text-middle {
  position: absolute;
  color: white;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.app-header-text-middle h1 {
  font-size: 50pt;
  font-weight: bold;
  margin: 0px;
}

.app-header-text-middle p {
  font-size: 25pt;
  text-align: center;
  margin: 0px;
  float: left;
  display: block;
}

#app-header-icon {
  height: 22%;
  top: 14%;
  right: 6%;
  position: absolute;
}

#app-header-icon-transparent {
  height: 22%;
  top: 14%;
  right: 6%;
  opacity: .4;
  position: absolute;
}

#app-header-avatar {
  height: 22%;
  top: 14%;
  right: 6%;
  position: absolute;
  border-radius: 50%;
}

#app-header-menu-container button {
  border: inherit;
  outline: inherit;
  color: inherit;
  background: none;
  text-decoration: none;
  font-size: 25pt;
  font-weight: 700;
  transform: none;
  padding: 0;
  font-family: inherit;
}

#app-header-button-menu {
  height: 11%;
  top: 5%;
  right: 3%;
  position: absolute;
  border: inherit;
  outline: inherit;
  color: inherit;
  background: none;
  text-decoration: none;
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
  width: inherit;
  transform: none;
  z-index: 13;
}

#app-header-button-menu img {
  height: 100%;
}

#app-header-menu-container {
  position: absolute;
  background: white;
  width: 40%;
  right: 2%;
  top: 3%;
  font-size: 25pt;
  font-weight: 700;
  color: #486581;
  border-radius: 15px;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px -12px;
}

#app-header-menu-container ul {
  list-style: none;
}

#app-header-menu-container li {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* body */
.app-body {
  position: absolute;
  top: 32.5%;
  color:#2A547E;
  min-width: inherit;
  min-height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.app-body h2 {
  text-align: center;
  font-size: 40pt;
  font-weight: 700;
}

.app-body p {
  font-size: 25pt;
  margin: 10%;
}

.app-body button {
  position: absolute;
  font-size: 23pt;
  font-weight: 700;
  background-image: linear-gradient(to top, #3B72FF, #3b9aff);
  color: white;
  width: 85%;
  border: none;
  padding: 4%;
  border-radius: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.app-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: orange;
  font-size: 25pt;
  font-weight: 700;
  text-decoration: underline;
}

.app-body #free-link-1 {
  top: 130%;
}

.app-body #free-link-2 {
  top: 145%;
}

.app-body #free-link-3 {
  top: 120%;
}

input[type=checkbox] {
  zoom: 3;
  vertical-align: middle;
  border: #486581;
}

#input-privacy {
  font-size: 20pt;
}

#app-free-btn {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to top, #f17401, #f8a228);
  border-radius: 20px;
  border: 0px;
  padding: 40px;
  font-size: 23pt;
  text-align: center;
  width: 40%;
}

/* footer */
.register-footer {
  min-height: 6%;
  min-width: 100%;
  background-color: #3B72FF;
  bottom: 0;
  position: fixed;
}

.app-footer {
  min-height: 6%;
  min-width: 108%;
  border-radius: 100px 100px 0 0;
  background-color: #3B72FF;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

.app-footer table {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  top: -25%;
}

.app-footer td {
  width: 17.5%;
}

.app-footer img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

.app-footer #app-footer-dashboard-container {
  width: 30%;
}

.app-footer #app-footer-dashboard-container img {
  padding-top: 35px;
  width: 50%;
}

.app-footer #app-footer-dashboard-container #app-footer-dashboard-container-background {
  background-image: linear-gradient(to top, #f17401, #f8a228);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px -12px;
}

#app-register-table {
  font-size: 32pt;
  font-weight: 700;
  color: #171717;
  margin: 5%;
}

#app-register-table td {
  padding: 20px;
}

#app-register-table input {
  font-size: inherit;
  border-radius: 15px;
  border: none;
  background-color: #FAFAFA;
  padding: 10px;
}

#app-register-table textarea {
  font-family: inherit;
  font-size: inherit;
  border-radius: 15px;
  border: none;
  background-color: #FAFAFA;
  padding: 10px;
  width: 95%;
  height: 10vh;
}

#app-register-table img {
  width: 50px;
  height: 50px;
}

#app-food-table, #app-medical-table, .app-medication-table {
  font-size: 32pt;
  font-weight: 700;
  color: #171717;
  margin: 5%;
  margin-right: 7%;
}

.new-entry .app-medication-table, .new-entry #app-register-table {
  margin: 0 !important;
}

#app-food-table td, #app-medical-table td, .app-medication-table td {
  padding: 20px;
}

#app-food-table td input[type=checkbox], .app-medication-table td input[type=checkbox] {
  zoom: 3;
  vertical-align: middle;
  border: #486581;
  width: 15px;
}

.app-medication-table td label {
  min-width: 22%;
  float: right;
}

#app-food-table input, #app-medical-table input, .app-medication-table input {
  font-size: inherit;
  border-radius: 15px;
  border: none;
  background-color: #FAFAFA;
  padding: 10px;
  width: 100%;
}

#app-food-table textarea, #app-medical-table textarea, .app-medication-table textarea {
  font-family: inherit;
  font-size: inherit;
  border-radius: 15px;
  border: none;
  background-color: #FAFAFA;
  padding: 10px;
  width: 95%;
  height: 10vh;
}

.login-table {
  font-size: 26pt;
  font-weight: bolder;
  color: #979797;
  margin: 5%;
  background-color: #F3F3F3;
  width: 90%;
  padding: 25px;
  border-radius: 25px;
}

.login-table input {
  background-color: inherit;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

#app-patient-table {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25pt;
  font-weight: 700;
  width: 90%;
  padding-bottom: 15%;
}

.app-patient-card {
  padding: 5%;
  padding-bottom: 10%;
  margin: 5%;
  border-spacing: 25px;
  border-radius: 25px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px -12px;
}

#app-patient-table img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 50%;
  width: 40%;
}

#app-patient-table button {
  border: inherit;
  outline: inherit;
  position: inherit;
  color: inherit;
  background: none;
  text-decoration: none;
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
  width: inherit;
  transform: none;
}

.patient-card-smiley-score {
  margin-right: 15px !important;
  margin-top: 15px !important;
  width: 15% !important;
}

.app-data-table {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25pt;
  font-weight: 700;
  width: 90%;
}

.app-main-data-card {
  padding: 2.5%;
  padding-bottom: 10%;
  margin: 2.5%;
  border-spacing: 25px;
  border-radius: 25px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px -12px;
}

.app-data-card {
  padding: 5%;
  padding-bottom: 10%;
  margin: 5%;
  border-spacing: 25px;
  border-radius: 25px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px -12px;
}

.dashboard-table {
  /* position: absolute; */
  /* left: 50%;
  transform: translateX(-50%); */
  /* display: block; */
  margin-left: 5%;
  font-size: 25pt;
  font-weight: 700;
  width: 90%;
  margin-top: 3%;
}

.dashboard-table td {
  width: 12.5%;
}

.dashboard-table .dashboard-card-icon {
  min-width: 180px;
}

.dashboard-table .checklist-card-icon {
  min-width: 180px;
}

.dashboard-table .dashboard-card-text {
  width: 40%;
}

.dashboard-table .checklist-card-text {
  width: 40%;
}

.dashboard-table .checklist-checkbox {
  width: 25%;
}

.dashboard-table .checklist-checkbox p {
  text-align: right;
  margin-right: 15%;
}

.dashboard-table .checklist-checkbox input {
  zoom: 4.5;
  margin: 15%;
  float: right;
}

.dashboard-table tr {
  display: block;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px -12px;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.dashboard-table p {
  color: #486581;
  font-weight: normal;
  margin: 0px;
  margin-left: 13px;
}

.dashboard-table h2 {
  margin: 10px;
  font-size: 35pt;
  font-weight: bolder;
  text-align: left;
}

.dashboard-table .dashboard-icon {
  display: block;
  margin-left: 15%;
  margin-right: auto;
  width: 100px;
}

.dashboard-table .dashboard-card-smiley-score {
  width: 45%;
  float: right;
}

.dashboard-table .dashboard-card-expand {
  width: 15%;
  float: right;
  margin-right: 25%;
}

.dashboard-subheader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 16%;
  bottom: 0px;
}

.dashboard-subheader button {
  border: inherit;
  color: inherit;
  background: none;
  text-decoration: none;
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
  transform: none;
}

h3 {
  color: #486581;
  font-size: 25pt;
}

.dashboard-subheader #dashboard-button-monitored {
  position: absolute;
  left: 0px;
  width: 40%;
}

.dashboard-subheader #dashboard-button-manual {
  position: absolute;
  right: 0px;
  width: 40%;
}

.dashboard-subheader #profile-button-info, .dashboard-subheader #profile-button-medical, .dashboard-subheader #profile-button-food {
  width: 33%;
}

.dashboard-subheader #checklist-button-info, .dashboard-subheader #checklist-button-medical, .dashboard-subheader #checklist-button-food{ 
  width: 33%;
}

#profile-body, #checklist-body {
  margin-top: 8%;
}

#profile-body h3, #checklist-body h3 {
  text-align: center;
}

.add-button {
  position: fixed;
  bottom: 8%;
  right: 4%;
  background: #3B72FF;
  color: white;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border: none;
  font-size: 50pt;
}

.new-entry {
  position: fixed;
  width: 70%;
  z-index: 17;
  background: #FAFAFA;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px -12px;
  border-radius: 30px;
  padding: 5%;
}

.new-entry .close-entry-button {
  border: inherit;
  outline: inherit;
  color: gray;
  background: none;
  text-decoration: none;
  font-size: 25pt;
  font-weight: normal;
  transform: none;
  padding: 0;
  font-family: inherit;
  position: absolute;
  right: 6%;
  top: 3%;
}

.new-entry .save-entry-button {
  float: right;
  border: inherit;
  outline: inherit;
  color: white;
  background-image: linear-gradient(to top, #3B72FF, #3b9aff);
  text-decoration: none;
  font-size: 25pt;
  font-weight: normal;
  transform: none;
  padding: 0;
  font-family: inherit;
  padding: 2%;
  border-radius: 15px;
  margin-right: 4%;
  margin-top: 2%;
  right: 0;
}

.new-entry h3 {
  text-align: center;
}

.new-entry p {
  width: 100%;
  font-size: 25pt;
  color: #171717;
  font-weight: 700;
  margin: 2%;
}

.new-entry table {
  width: 100%;
  font-size: 25pt !important;
  color: #171717;
  font-weight: 700;
}

.new-entry td {
  padding: 2%;
}

.new-entry textarea {
  font-family: inherit;
  font-size: inherit;
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: 10px;
  width: 95%;
  height: 10vh;
}

.new-entry .DateInput_input, .DateInput_input_1 {
  font-size: 25pt;
  width: 180%;
  border: none;
}

.new-entry input {
  font-size: 25pt;
  width: 100%;
  border: none;
  padding: 11px 11px 9px;
  background: white !important;
}

.new-entry .log-entry-table img {
  width: 50px;
}

/* loading animation, probably needs changing */
._dash-loading {
  color: transparent;
  width: 0;
  height: 0;
  margin-top: 100%;
  margin-left: 45%;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 5rem;
  height: 5rem;
  color: black;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.stretched-link {
  position: inherit !important;
  text-decoration: inherit !important;
  color: inherit !important;
}

#calendar-body img {
  width: 90%;
  margin: 2.5%;
  margin-top: -5.5%;
}

.blood-pressure-fig {
  width: 95%;
  padding: 2.5%;
}

.data-body {
  margin-top: -5%;
}

.data-body h3 {
  text-align: center;
  margin-bottom: 0;
}

.data-body h4 {
  float: right;
  margin-right: 2.5%;
}

.data-fig-header {
  padding-left: 2.5%;
  font-size: 22pt;
  color: gray;
}

.data-fig-header-top {
  padding-left: 2.5%;
  font-size: 22pt;
  color: gray;
  float: left;
}

.data-fig-header img, .data-fig-header-top img {
  width: 22px;
  padding-left: 40%;
}

.data-fig-previous {
  padding-left: 2.5%;
  font-size: 22pt;
  color: gray;
  float: left;
}
.data-fig-next {
  padding-right: 2.5%;
  font-size: 22pt;
  color: gray;
  float: right;
}